<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/navBar.css" rel="stylesheet">
{% block title%}
<title>Añadir aulas</title>
<div class="jumbotron" style="margin-bottom: 0;padding:2rem 2rem;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-lg-offset-1">
          <h1 style="margin-top: 0; text-align: center;">Añadir aulas</h1>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block content%}
<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navBar">
    <ul class="navbar-nav mr-auto">
    <li class="homeImg">
      <a class="navbar-brand" href="{{ url_for('inicio') }}">
        <img src="/static/img/home.jpg" width="30" height="30" alt="">
      </a>
    </li>
    <li class="nav-item"><a type="button" class="nav-link" onclick="window.location.href='{{ url_for('events') }}'">Consultar ocupación de aulas</a></li>
    <li class="nav-item">
        {% if session['user_email'] in session['listaUsuariosPropietarios'] or session['user_email'] in ADMIN_USERS %}   
            <a type="button" class="nav-link" onclick="window.location.href='{{ url_for('reservar') }}'">Realizar reserva</a>
        {% else %}
            <a type="button" class="nav-link disabled" onclick="window.location.href='{{ url_for('reservar') }}'">Realizar reserva</a>
        {% endif %}
    </li>
          
    <li>
        <a type="button" class="nav-link" onclick="window.location.href='{{ url_for('verAulas') }}'">Ver/Modificar aulas</a>          
    </li>

    <li>
        {% if session['user_email'] in ADMIN_USERS %}        
            <a type="button" class="nav-link" onclick="window.location.href='{{ url_for('anadirAulas') }}'">Añadir aulas</a>
        {% else %}
            <a type="button" class="nav-link disabled" onclick="window.location.href='{{ url_for('anadirAulas') }}'">Añadir aulas</a>
        {% endif %}
    </li>
    </ul>
</nav>
<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark"></nav>

<div class = "container">
    <form name="createAula" id="createAula" method="POST">
        {{ form.csrf_token }}
        <div>{{ form.edificio.label }}</div>
        <div>{{ form.edificio }}</div>
        <div>{{ form.nombreAula.label }}</div>
        <div>{{ form.nombreAula }}</div>
            <ul>
                {% for error in form.nombreAula.errors %}
                    <li style="color: red;">{{ error }}</li>
                {% endfor %}
            </ul>
        <div>{{ form.tipo.label }}</div>
        <div>{{ form.tipo }}</div>
        <div>{{ form.capacidad.label }}</div>
        <div>{{ form.capacidad }}</div>
            <ul>
                {% for error in form.capacidad.errors %}
                    <li style="color: red;">{{ error }}</li>
                {% endfor %}
            </ul>
        <div>{{ form.n_ordenadores.label }}</div>
        <div>{{ form.n_ordenadores }}</div>
            <ul>
                {% for error in form.n_ordenadores.errors %}
                    <li style="color: red;">{{ error }}</li>
                {% endfor %}
            </ul>
        <div>{{ form.propietario.label }}</div>
        <div style="padding-bottom: 5px;">{{ form.propietario }}</div>
        <meta name="csrf-token" content="{{ csrf_token() }}">
        <button type='button' class="btn btn-link" style="background-color: #b3cccc" id ='crearAula' onclick=form.submit()>Crear aula</button>
        
    </form>

    {% if created == True%}
        <div class="alert alert-success col-md-6" role="alert" id="createdMsg" >
            <h4 class="alert-heading">Aula creada</h4>
            <p>Se ha creado el aula correctamente, porfavor asigne los permisos del nuevo aula al usuario {{ prop }}</p>
        </div>
    {% elif created == False %}
    <div class="alert alert-warning col-md-6" role="alert" >
        <h4 class="alert-heading">Error al crear el aula</h4>
        <p>No se ha podido crear el aula, el nombre que intenta introducir ya existe.</p>
    </div>
    {% endif %}

    <div>
    </div>
</div>
{% endblock %}