<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/navBar.css" rel="stylesheet">
<link href="/static/css/buttons.css" rel="stylesheet">
{% block title %}    
<div class="jumbotron" style="margin-bottom: 0;padding:2rem 2rem;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-lg-offset-1">
        <h1 style="margin-top: 0; text-align: center;">Tabla de eventos</h1>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navBar">
  <ul class="navbar-nav mr-auto">
  <li class="homeImg">
    <a class="navbar-brand" href="{{ url_for('inicio') }}">
      <img src="/static/img/home.jpg" width="30" height="30" alt="">
    </a>
  </li>
  <li class="nav-item"><a type="button" class="nav-link" onclick="window.location.href='{{ url_for('events') }}'">Consultar ocupación de aulas</a></li>
  <li class="nav-item">
      {% if session['user_email'] in session['listaUsuariosPropietarios'] or session['user_email'] in ADMIN_USERS %}   
          <a type="button" class="nav-link" onclick="window.location.href='{{ url_for('reservar') }}'">Realizar reserva</a>
      {% else %}
          <a type="button" class="nav-link disabled" onclick="window.location.href='{{ url_for('reservar') }}'">Realizar reserva</a>
      {% endif %}
  </li>
        
  <li>
      <a type="button" class="nav-link" onclick="window.location.href='{{ url_for('verAulas') }}'">Ver/Modificar aulas</a>          
  </li>

  <li>
      {% if session['user_email'] in ADMIN_USERS %}        
          <a type="button" class="nav-link" onclick="window.location.href='{{ url_for('anadirAulas') }}'">Añadir aulas</a>
      {% else %}
          <a type="button" class="nav-link disabled" onclick="window.location.href='{{ url_for('anadirAulas') }}'">Añadir aulas</a>
      {% endif %}
  </li>
  </ul>
</nav>
<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark"></nav>

<flexbox style="display:flex;justify-content:center;margin-top: 30px;color: red;">Las horas que intenta reservar ya están ocupadas, por favor elija otras.</flexbox>
<flexbox style="display:flex;justify-content:center;margin-top: 30px;"><button onclick="back()">Volver</button></flexbox>
<script type="text/javascript">
    function back(){
      history.back();
    }
</script>
{% endblock %}