<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/navBar.css" rel="stylesheet">
<link href="/static/css/buttons.css" rel="stylesheet">
{% block title %}    
<div class="jumbotron" style="margin-bottom: 0;">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <h1 style="margin-top: 0; text-align: center;">Tabla de eventos</h1>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navBar">
  <ul class="navbar-nav mr-auto">
  <li class="homeImg">
    <a class="navbar-brand" href="{{ url_for('inicio') }}">
      <img src="/static/img/home.jpg" width="30" height="30" alt="">
    </a>
  </li>
  <li class="nav-item"><a type="button" class="nav-link" onclick="window.location.href='{{ url_for('events') }}'">Consultar ocupación de aulas</a></li>
  <li class="nav-item">
      {% if session['user_email'] in session['listaUsuariosPropietarios'] or session['user_email'] in ADMIN_USERS %}   
          <a type="button" class="nav-link" onclick="window.location.href='{{ url_for('reservar') }}'">Realizar reserva</a>
      {% else %}
          <a type="button" class="nav-link disabled" onclick="window.location.href='{{ url_for('reservar') }}'">Realizar reserva</a>
      {% endif %}
  </li>
        
  <li>
      <a type="button" class="nav-link" onclick="window.location.href='{{ url_for('verAulas') }}'">Ver/Modificar aulas</a>          
  </li>

  <li>
      {% if session['user_email'] in ADMIN_USERS %}        
          <a type="button" class="nav-link" onclick="window.location.href='{{ url_for('anadirAulas') }}'">Añadir aulas</a>
      {% else %}
          <a type="button" class="nav-link disabled" onclick="window.location.href='{{ url_for('anadirAulas') }}'">Añadir aulas</a>
      {% endif %}
  </li>
  </ul>
</nav>
<!-- Si el diccionario de eventos esta vacio no se muestra nada -->
  
    <table id="tablaEventos" class="table table-striped table-bordered table-sm" cellspacing="40" overflow="auto">
      <!-- <script type="text/javascript" src="{{ url_for('static', filename='events.js') }}"></script> -->
      <thead>
      <tr>
        <th>Tema</th>
        <th>Usuario</th>
        <th>Fecha inicio</th>
        <th>Fecha fin</th>
      </tr>
    </thead>
    {% if dictEvents %}
    <tbody>
      {% for event in dictEvents %}
        {% if event[3] < fechaActual %}
          <tr>
            <td style="color : red">{{ event[0] }}</td>
            <td style="color : red">{{ event[1] }}</td>
            <td style="color : red">{{ event[2] }} </td>
            <td style="color : red">{{ event[3] }} </td>
          </tr>
        {% else %}
          <tr>
            <td style="color : green">{{ event[0] }}</td>
            <td style="color : green">{{ event[1] }}</td>
            <td style="color : green">{{ event[2] }} </td>
            <td style="color : green">{{ event[3] }} </td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
    {% endif %}
    </table>

<div>
  <b>Leyenda</b><br>
  <svg width="15" height="15">
    <rect x="5" y="2" rx="2" ry="2" width="10" height="10"
    style="fill:red;" />
  </svg>   Eventos pasados<br>
  <svg width="15" height="15">
    <rect x="5" y="2" rx="2" ry="2" width="10" height="10"
    style="fill:green;" />
  </svg>   Eventos futuros<br>
</div>

<div>
  <button type="button" class="btn btn-warning" onclick="window.location.href='{{ url_for('events') }}' "> Volver</button>
</div>

{% endblock %}