<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/navBar.css" rel="stylesheet">
<link href="/static/css/buttons.css" rel="stylesheet">
{% block title %}
<title>Eventos</title>
<div class="jumbotron" style="margin-bottom: 0;padding:2rem 2rem;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-lg-offset-1">
        <h1 style="margin-top: 0; text-align: center;">Consultar eventos</h1>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<script src="https://ajax.googleapis.com//ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navBar">
  <ul class="navbar-nav mr-auto">
  <li class="homeImg">
    <a class="navbar-brand" href="{{ url_for('inicio') }}">
      <img src="/static/img/home.jpg" width="30" height="30" alt="">
    </a>
  </li>
  <li class="nav-item"><a type="button" class="nav-link" onclick="window.location.href='{{ url_for('events') }}'">Consultar ocupación de aulas</a></li>
  <li class="nav-item">
      {% if session['user_email'] in session['listaUsuariosPropietarios'] or session['user_email'] in ADMIN_USERS %}   
          <a type="button" class="nav-link" onclick="window.location.href='{{ url_for('reservar') }}'">Realizar reserva</a>
      {% else %}
          <a type="button" class="nav-link disabled" onclick="window.location.href='{{ url_for('reservar') }}'">Realizar reserva</a>
      {% endif %}
  </li>
        
  <li>
      <a type="button" class="nav-link" onclick="window.location.href='{{ url_for('verAulas') }}'">Ver/Modificar aulas</a>          
  </li>

  <li>
      {% if session['user_email'] in ADMIN_USERS %}        
          <a type="button" class="nav-link" onclick="window.location.href='{{ url_for('anadirAulas') }}'">Añadir aulas</a>
      {% else %}
          <a type="button" class="nav-link disabled" onclick="window.location.href='{{ url_for('anadirAulas') }}'">Añadir aulas</a>
      {% endif %}
  </li>
  </ul>
</nav>
<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark"></nav>
{% if modif == true%}
<flexbox class="alert alert-success col-md-4" id="successMsg" style="display: flex;justify-content: center;max-width:100%;"> Se ha modificado el aula correctamente </flexbox>
{% endif %}
<div class = "container">
  <h3> Selecciona el grupo de aulas</h3>
  <!-- Formulario para elegir el grupo de calendario del que ver las aulas -->
  <form name="selectEdif" id="selectEdif" method="POST" >
    <div style="padding: 5px;">{{ formEdificio.select }}</div>
    <input type="submit" name="submitEdif" id="submitEdif" value="Mostrar aulas" class="btn btn-link" onclick="formEdificio.submit()">
    {{ formEdificio.csrf_token }}
  </form>

  {% if edificioId %}
  <!-- Formulario para elegir el calendario del que ver los eventos -->
  <!-- <div id="form2" style="visibility: hidden;"> -->
  <form name="selectAula" id="selectAula" method="POST">
    <div>{{ formAula.select.label }}</div>
    <div>{{ formAula.select }}</div>
    <input type="submit" name="submitAula" id="submitAula" value="Mostrar eventos" class="btn btn-link" onclick=formAula.submit()>
    {{ formAula.csrf_token }}
  </form>
  <div id="radioFiltro" style="padding:5px;">
    <input type="radio" name="filtros" value="Filtrar" style="padding:5px;" onclick="showFilterForm()">Filtros
  </div>

  <form name="filterAulas" id="filterAulas" method="POST" style="display:none;">
    <div>{{ filterForm.capacidad.label }}</div>
    <div>{{ filterForm.capacidad }}</div>
      <ul>
        {% for error in filterForm.capacidad.errors %}
            <li style="color: red;">{{ error }}</li>
        {% endfor %}
      </ul>
    <div>{{ filterForm.n_ord.label }}</div>
    <div>{{ filterForm.n_ord }}</div>
      <ul>
        {% for error in filterForm.n_ord.errors %}
            <li style="color: red;">{{ error }}</li>
        {% endfor %}
      </ul>
    <div>{{ filterForm.tipo.label }}</div>
    <div>{{ filterForm.tipo }}</div>
      <ul>
        {% for error in filterForm.tipo.errors %}
            <li style="color: red;">{{ error }}</li>
        {% endfor %}
      </ul>
    <div>{{ filterForm.startDate.label }}</div>
    <div>{{ filterForm.startDate }}</div>
      <ul>
        {% for error in filterForm.startDate.errors %}
            <li style="color: red;">{{ error }}</li>
        {% endfor %}
      </ul>
    
    <div>{{ filterForm.startTime.label }}</div>
    <div>{{ filterForm.startTime }}</div>
      <ul>
        {% for error in filterForm.startTime.errors %}
            <li style="color: red;">{{ error }}</li>
        {% endfor %}
      </ul>
      <div>{{ filterForm.endTime.label }}</div>
      <div>{{ filterForm.endTime }}</div>
        <ul>
          {% for error in filterForm.endTime.errors %}
              <li style="color: red;">{{ error }}</li>
          {% endfor %}
        </ul>
    <input id="submitFilters" type="submit" class="btn btn-success" onclick=filterForm.submit()>
    {{ filterForm.csrf_token }}

  </form>
  <!-- </div> -->
  {% endif %}
  




</div>


  <script type="text/javascript">

    function showFilterForm() {
      $('#filterAulas').css('display', 'block');
      $('#submitAula').css('display', 'none');
      
    }


  </script>

{% endblock %}