{% extends "navBar.html" %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/navBar.css" rel="stylesheet">
<link href="/static/css/buttons.css" rel="stylesheet">
{% block title %}    
<div class="jumbotron" style="margin-bottom: 0;padding:2rem 2rem;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-lg-offset-1">
        <h1 style="margin-top: 0; text-align: center;">Tabla de eventos</h1>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}


<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark"></nav>

<flexbox style="display:flex;justify-content:center;margin-top: 30px;">Se ha creado/modificado/borrado el propietario correctamente, porfavor modifique los permisos de los calendarios afectados manualmente.</flexbox>
<flexbox style="display:flex;justify-content:center;margin-top: 30px;"><button onclick="window.location.href='{{ url_for('verPropietarios') }}'">Aceptar</button></flexbox>
<flexbox style="display:flex;justify-content:center;padding:15px;"> 
  <a id="ayuda" style="color:blue;text-decoration:underline">¿Cómo puedo compartir un calendario?</a>
</flexbox>
<flexbox id="ayudaExtra" style="display:none;justify-content:center"> 
  <div>
    <p>1.- Acceda a la cuenta administrador de Outlook.</p>
    <p>2.- Acceda a la sección de calendarios.</p>
    <p>3.- Click sobre los tres puntos del calendario a compartir.</p>
    <p>4.- Seleccionar uso compartido y permisos.</p>
    <p>5.- Escribir la dirección del propietario a añadir o borrar la del propietario existente.</p>
  </div>
</flexbox>
{% endblock %}
{% block script %}
<script>
  $('#ayuda').click(function(){
    $('#ayudaExtra').css('display','flex');
  });
</script>

{% endblock %}
