<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/navBar.css" rel="stylesheet">
<link href="/static/css/buttons.css" rel="stylesheet">
{% block title%}
<title>Reservar</title>
<div class="jumbotron" style="margin-bottom: 0;padding:2rem 2rem;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-lg-offset-1">
          <h1 style="margin-top: 0; text-align: center;">Reservar aulas</h1>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navBar">
    <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent"> -->
      <ul class="navbar-nav mr-auto">
        <li class="homeImg">
          <a class="navbar-brand" href="{{ url_for('inicio') }}">
            <img src="/static/img/home.jpg" width="30" height="30" alt="">
          </a>
        </li>
        <li class="nav-item"><a type="button" class="nav-link" onclick="window.location.href='{{ url_for('events') }}'">Consultar ocupación de aulas</a></li>

        <li class="nav-item">
          {% if session['user_email'] in session['listaUsuariosPropietarios'] or session['user_email'] in ADMIN_USERS %}   
            <a type="button" style="margin-top: 7px;" class="nav-link" onclick="window.location.href='{{ url_for('reservar') }}'">Realizar reserva</a>
          {% else %}
            <a type="button" style="margin-top: 7px;" class="nav-link disabled" onclick="window.location.href='{{ url_for('reservar') }}'">Realizar reserva</a>
          {% endif %}
        </li>
          
        <li>
          <a type="button" style="margin-top: 7px;" class="nav-link" onclick="window.location.href='{{ url_for('verAulas') }}'">Ver/Modificar aulas</a>          
        </li>

        <li>
          {% if session['user_email'] in ADMIN_USERS %}        
            <a type="button" style="margin-top: 7px;" class="nav-link" onclick="window.location.href='{{ url_for('anadirAulas') }}'">Añadir aulas</a>
          {% else %}
            <a type="button" style="margin-top: 7px;" class="nav-link disabled" onclick="window.location.href='{{ url_for('anadirAulas') }}'">Añadir aulas</a>
          {% endif %}
        </li>
        <li>
          {% if session['user_email'] in ADMIN_USERS %}        
            <a type="button" style="margin-top: 7px;" class="nav-link" onclick="window.location.href='{{ url_for('auditoria') }}'">Ver auditorias</a>
          {% else %}
            <a type="button" style="margin-top: 7px;" class="nav-link disabled" onclick="window.location.href='{{ url_for('auditoria') }}'">Ver auditorias</a>
          {% endif %}
        </li>
        
        <li>
          
          
          <div class="dropdown">
            <button class="dropbtn">Propietarios</button>
            <div class="dropdown-content">
              {% if session['user_email'] in ADMIN_USERS %} 
              <a type="button" style="margin-top: 7px;" class="nav-link" onclick="window.location.href='{{ url_for('verPropietarios') }}'">Ver propietarios</a>
              <a type="button" style="margin-top: 7px;" class="nav-link" onclick="window.location.href='{{ url_for('anadirPropietarios') }}'">Añadir propietarios</a>
              {% else %}
              <a type="button" style="margin-top: 7px;" class="nav-link disabled" onclick="window.location.href='{{ url_for('verPropietarios') }}'">Ver propietarios</a>
              <a type="button" style="margin-top: 7px;" class="nav-link disabled" onclick="window.location.href='{{ url_for('anadirPropietarios') }}'">Añadir propietarios</a>
              {% endif %}
            </div>
          </div>

        </li>
      </ul>
    <!-- </div> -->
  </nav>
<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark"></nav>

<div class = "container">
<h1>Añadir evento</h1>


<div class="flexContainer" style="display: flex;">
<div>
<form name="filterAulas" id="filterAulas" method="POST">
    {{ form1.csrf_token }}
    <div>{{ form1.capacidad.label }}</div>
    <div>{{ form1.capacidad }}</div>
    <div>{{ form1.n_ord.label }}</div>
    <div>{{ form1.n_ord }}</div>
    <div>{{ form1.edificio.label }}</div>
    <div>{{ form1.edificio }}</div>
    <div>{{ form1.tipo.label }}</div>
    <div style="padding-bottom: 5px;">{{ form1.tipo }}</div>
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <button type='button' id ='enviarFiltros' class="btn btn-link" >Consultar</button>
    <button type="button" class="btn btn-link"  onclick="window.location.href='{{ url_for('reservar') }}'">Modificar busqueda</button>    
</form>
</div>
<div class="alert alert-warning col-md-4" id="errorMsg" style="display: none;"> No existen aulas con esas características. </div>


<div id="radioTipos" style="display:block;padding:5px;margin: 0px 50px 0px 50px;">
    <b> Selecciona el tipo de reserva </b> <br>
    <div><input type="radio" name="tipoReserva" value="Simple" style="padding:5px;">Un día </div>
    <div><input type="radio" name="tipoReserva" value="Multiple" style="padding:5px;">Días contiguos </div>
    <div><input type="radio" name="tipoReserva" value="Periodica" style="padding:5px;">Un día por semana </div>
    <br><button type="button" class="btn btn-link" style="margin-top: 10px;margin-bottom: 20px;" onclick="showFormReservar()"> Aplicar </button> 
</div>


<div id="form-hidden" style="display: block">
    <form name="createEvent" id="createEvent" method="POST">
        <div>{{ form.selectAula.label }}</div>
        <div>{{ form.selectAula }}</div>
        <div><button type="button" class="btn btn-link" onclick="showEventsAula()">Consultar ocupación de aulas </button> </div>
        
        
        <div style="display: flex;">
           <a>{{ form.subject.label }}</a>
           <a style="margin-left: 210px;">{{ form.teacher.label }}</a>
        </div>
        <div style="display: flex;">
            <a>{{ form.subject }}</a>
            <ul>
                {% for error in form.subject.errors %}
                    <li style="color: red;">{{ error }}</li>
                {% endfor %}
            </ul>
            <a>{{ form.teacher }}</a>
            <ul>
                {% for error in form.teacher.errors %}
                    <li style="color: red;">{{ error }}</li>
                {% endfor %}
            </ul>
        </div>

        <div style="display: flex;">
            <a>{{ form.email.label }}</a>
            <a style="margin-left: 120px;">{{ form.startDate.label }}</a>
         </div>
         <div style="display: flex;">
             <a>{{ form.email }}</a>
             <ul>
                 {% for error in form.email.errors %}
                     <li style="color: red;">{{ error }}</li>
                 {% endfor %}
             </ul>
             <a>{{ form.startDate }}</a>
             <ul>
                 {% for error in form.startDate.errors %}
                     <li style="color: red;">{{ error }}</li>
                 {% endfor %}
             </ul>
         </div>

         <div style="display: flex;">
            <a>{{ form.startTime.label }}</a>
            <a style="margin-left: 100px;" >{{ form.endTime.label }}</a>
         </div>
        <div style="display: flex;">
             <a>{{ form.startTime }}</a>
             <ul>
                 {% for error in form.startTime.errors %}
                     <li style="color: red;">{{ error }}</li>
                 {% endfor %}
             </ul>
             <a>{{ form.endTime }}</a>
             <ul>
                 {% for error in form.endTime.errors %}
                     <li style="color: red;">{{ error }}</li>
                 {% endfor %}
             </ul>
        </div>

        <div style="display: flex;">
            <a id="dayL" style="display:none">{{ form.day.label }}</a>
            <a id="endDateL" style="display:none;margin-left: 57px;">{{ form.endDate.label }}</a>
         </div>
        <div style="display: flex;">
             <a id="day" style="display:none">{{ form.day }}</a>
             <ul>
                 {% for error in form.day.errors %}
                     <li style="color: red;">{{ error }}</li>
                 {% endfor %}
             </ul>
             <a id="endDate" style="display:none">{{ form.endDate }}</a>
             <ul>
                 {% for error in form.endDate.errors %}
                     <li style="color: red;">{{ error }}</li>
                 {% endfor %}
             </ul>
        </div>

        <button type="button" class="btn btn-link" onclick=form.submit()> {{ form.submit.label }} </button>

        {{ form.csrf_token }}
    </form>
</div>
</div>


<!-- Mensaje de creación de evento correcta o fallida -->
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
        {% if category == "error" %}
            <div class="alert alert-{{ category }} alert-dismissible" role="alert" style="background-color: red; width: 320px; padding: 20px; margin-top: 20px;">
                <svg class="bi bi-exclamation-circle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z" clip-rule="evenodd"/>
                    <path d="M7.002 11a1 1 0 112 0 1 1 0 01-2 0zM7.1 4.995a.905.905 0 111.8 0l-.35 3.507a.552.552 0 01-1.1 0L7.1 4.995z"/>
                </svg>
                <button type="button"  class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>{{ message }}</strong> 
            </div>
        {% else %}
        <div class="alert alert-{{ category }} alert-dismissible" role="alert" style="background-color: green; width: 320px;">
            <button type="button"  class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>{{ message }}</strong> 
            </div>
        {% endif %}
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


</div>

{% endblock content %}

<script>
    $('#enviarFiltros').click(function() {
      arrayValores = $('#filterAulas').serialize();
      capacidad =  $('#capacidad').val();
      edificio = $('#edificio').val();
      ordenadores = $('#n_ord').val();
      tipo = $('#tipo').val();
      var csrftoken = $('meta[name=csrf-token]').attr('content')
      $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        }
      })
      $.ajax({
        type: "POST",
        url: "/showReservar",
        dataType: 'json',
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify({capacidad: capacidad, edificio: edificio, tipo: tipo, n_ord: ordenadores}),
        success: function(response) {
            $('#selectAula').empty();
            for (var i=0; i<response.length; i++) {
                $('#selectAula').append(
                    $("<option></option>")
                    .attr("value", response[i][0])
                    .text(response[i][0]))
            
            }
            $('#radioTipos').css('display', 'block');
            $('#enviarFiltros').prop('disabled', true);
            $('#errorMsg').css('display', 'none');
        },
        error: function(response){
            $('#errorMsg').css('display', 'block');
        }
    });

    });

    function showFormReservar() {
        $('#form-hidden').css('display', 'block');

        
        var ele = document.getElementsByName('tipoReserva'); 
              
        for(i = 0; i < ele.length; i++) { 
            if(ele[i].checked) 
                var elegido = ele[i].value; 
        } 

        

        if(elegido=="Multiple"){
            console.log(elegido)
            document.getElementById("day").value = null;
            $('#dayL').css('display', 'none');
            $('#day').css('display', 'none');
            $('#endDateL').css('display', 'block');
            $('#endDate').css('display', 'block');
            
        }
        if(elegido=="Periodica"){
            console.log(elegido)
            $('#dayL').css('display', 'block');
            $('#day').css('display', 'block');
            $('#endDateL').css('display', 'block');
            $('#endDate').css('display', 'block');
        }
        if(elegido=="Simple"){
            console.log(elegido)
            document.getElementById("day").value = null;
            document.getElementById("endDate").value = null;
            $('#dayL').css('display', 'none');
            $('#day').css('display', 'none');
            $('#endDateL').css('display', 'none');
            $('#endDate').css('display', 'none');
        }
        

    };

    function showEventsAula(){
        var aulaEvents = document.getElementById("selectAula").value ;

        var csrftoken = $('meta[name=csrf-token]').attr('content')
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
        })
        $.ajax({
            type: "POST",
            url: "/getEventsTable",
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({aula: aulaEvents}),
            success: function(response){
                window.open('{{ url_for('showEventsTable') }}')
            }
        });
    };
</script>
<style>

    .dropbtn {
      background-color: #f8f9fa;
      color: rgba(0,0,0,.5);
      padding: 16px;
      font-size: 16px;
      border: none;
    }
    
    .dropdown {
      position: relative;
      display: inline-block;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    .dropdown-content a:hover {background-color: #ddd;}
    
    .dropdown:hover .dropdown-content {display: block;}
    
    .dropdown:hover .dropbtn {color: lightblue;}
</style>
</html>