{% extends "bootstrap/base.html" %}

{% block content %}
<h1>Añadir evento</h1>


<form name="createEvent" id="createEvent" method="POST">
    <p>{{ form.selectCalendar.label }}</p>
    <p>{{ form.selectCalendar }}</p>
    <p>{{ form.subject.label }}</p>
    <p>{{ form.subject }}</p>
    <p>{{ form.start.label }}</p>
    <p>{{ form.start }}</p>
    <p>{{ form.end.label }}</p>
    <p>{{ form.end }}</p>
    <p><button type="button" class="btn btn-success" onclick=form.submit()> {{ form.submit.label }} </button> </p>
</form>


<div>
    <button type="button" class="btn btn-warning" onclick="window.location.href='http://localhost:5000/events'"> Ver eventos</button>
</div>





{% endblock content %}
