{% extends "bootstrap/base.html" %}
{% block content %}
<h1>Eventos</h1>
<table class="table" cellspacing="20">
  <tr>
    <th>Tema</th>
    <th>Fecha inicio</th>
    <th>Fecha fin</th>
  </tr>

  {% for event in dictEvents %}
    <tr>
      <td>{{ event['subject'] }}</td>
      <td>{{ event['start']['dateTime'] }} </td>
      <td>{{ event['end']['dateTime'] }} </td>
    </tr>
  {% endfor %}
</table>




<div>
  <button type="button" class="btn btn-warning" onclick="window.location.href='{{ last_url }}'"> Volver</button>
</div>

{% endblock %}