{% extends "base.html" %}
{% block base_container_content %}
    <div class="col-lg-10">
      <div>

        {% if o365_sign_in_url and not session['user_email'] %}
        <p>Usa el boton para conectarte con Office 365.</p>
        <button class="btn" onclick="window.location.href='{{ o365_sign_in_url }}'">
          <span class="label">Conectarse a Office 365</span>
        </button>
        {% endif %}

        {% if session['user_email'] %}
        <p>Hola <b>{{ session['user_email'] }}!</b></p>
        <p>Acabas de acceder a la app con Office 365. Tu token de acceso es:</p>
        <p style="word-wrap: break-word;"><b>{{ session['access_token'] }}</b></p>
        {%  endif %}

      </div>
    </div>
  </div>
{% endblock %}